<!DOCTYPE html>
<html>
<head>
    <title>NAS UI</title>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>File Listing</h1>
    <button onclick="goToDirectory('')">Up One Level</button>
    <p id="up-button-response"></p>
    <ul id="file-list">
        {{range .}}
        <li {{if .IsDirectory}}class="directory" onclick="goToDirectory('{{.Path}}')" style="cursor:pointer"{{end}}>
            {{.Name}} ({{.Size}} bytes), IsDirectory == {{.IsDirectory}}, {{.Path}}
        </li>
        {{end}}
    </ul>

    <h2>Send Filename (Async)</h2>
    <input type="text" id="filename" placeholder="Enter filename">
    <button onclick="submitFilename()">Submit</button>
    <p id="response"></p>

    <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <p id="status"></p> -->
    <h2>Upload a File</h2>

    <input type="file" id="fileInput" multiple>
    <button onclick="uploadFiles()">Upload</button>

    <div style="margin-top: 10px;">
        <progress id="progressBar" value="0" max="100" style="width: 100%;"></progress>
        <p id="statusText">Waiting for upload...</p>
    </div>

    <script src="/static/upload.js"></script>

</body>
</html>


